/* Estilos para la tarjeta con efecto hover */
.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.card-hover:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Estilo para separar el nombre y el precio */
.product-name {
    margin-bottom: 10px;
    font-weight: bold;
}

.product-price {
    margin-bottom: 15px;
    color: #333;
}

.card-price {
    font-size: 1.2rem;
    color: #868e96;
}

.product-description {
    display: flex;
    flex-direction: column;
}

.add-to-cart {
    margin-bottom: 15px;
}


.card-footer .btn {
    font-size: 0.85rem;
}

.link-ver-detalle {
    display: flex;
    justify-content: end;
}

.btn-link {
    text-decoration: none;
    color: #426665; /* Tu color preferido */
    transition: all 0.3s ease;
}

.btn-link:hover {
    color: #BAA183; /* Tu color preferido */
}


